In [1]:
import pandas as pd
import yfinance as yf

In [2]:
tickers = ["AAPL", "MSFT", "GOOG", "AMZN", "TSLA", "NVDA", "BRK-B", "META", "JNJ", "V", "XOM", "UNH", "PG", "HD", "MA", "CVX", "PEP", "KO", "LLY", "ABBV"]
tickers_str = " ".join(tickers)

In [6]:
# Período do histórico
start_date = "2020-05-01"
end_date = "2025-05-01"

# Baixar o histórico para todos os tickers
tickers_data = yf.download(tickers_str, start=start_date, end=end_date,  actions=True, group_by="ticker")

[*********************100%***********************]  20 of 20 completed

In [7]:
data_list = []
for ticker in tickers_data.columns.levels[0]:
    # Selecionar o DataFrame para cada ticker
    df = tickers_data[ticker].copy()
    
    # Adicionar o ticker como uma nova coluna
    df['Ticker'] = ticker
    
    # Resetar o índice para incluir as datas como uma coluna
    df = df.reset_index()
    
    # Adicionar o DataFrame ajustado à lista
    data_list.append(df)

# Concatenar todos os DataFrames ajustados
final_data = pd.concat(data_list, ignore_index=True)

In [8]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25120 entries, 0 to 25119
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          25120 non-null  datetime64[ns]
 1   Open          25120 non-null  float64
 2   High          25120 non-null  float64
 3   Low           25120 non-null  float64
 4   Close         25120 non-null  float64
 5   Volume        25120 non-null  int64
 6   Dividends     25120 non-null  float64
 7   Stock Splits  25120 non-null  float64
 8   Ticker        25120 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 1.7+ MB

In [9]:
final_data

Price,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
0,2020-05-01,69.466881,72.561039,69.369811,70.151237,240616800,0.0,0.0,AAPL
1,2020-05-04,70.175504,71.272411,69.483867,71.143791,133568000,0.0,0.0,AAPL
2,2020-05-05,71.604866,73.046379,71.459257,72.211563,147751200,0.0,0.0,AAPL
3,2020-05-06,72.915338,73.589985,72.529479,72.956596,142333600,0.0,0.0,AAPL
4,2020-05-07,73.585144,74.058371,73.281795,73.711334,115215200,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...
25115,2025-04-24,107.970001,108.879997,106.959999,108.629997,9849600,0.0,0.0,XOM
25116,2025-04-25,108.139999,108.760002,107.419998,108.570000,11245800,0.0,0.0,XOM
25117,2025-04-28,108.750000,109.250000,107.680000,108.629997,13890900,0.0,0.0,XOM
25118,2025-04-29,107.739998,108.830002,107.519997,108.360001,9483100,0.0,0.0,XOM
25119,2025-04-30,107.419998,107.419998,104.150002,105.629997,20354100,0.0,0.0,XOM