In [5]:
import pandas as pd
import yfinance as yf

In [129]:
tickers = ["AAPL", "MSFT", "GOOG", "AMZN", "TSLA", "NVDA", "BRK-B", "META", "JNJ", "V", "XOM", "UNH", "PG", "HD", "MA", "CVX", "PEP", "KO", "LLY", "ABBV"]
tickers_str = " ".join(tickers)

In [133]:
# Período do histórico
start_date = "2020-01-01"
end_date = "2025-01-14"

# Baixar o histórico para todos os tickers
tickers_data = yf.download(tickers_str, start=start_date, end=end_date,  actions=True, group_by="ticker")

[*********************100%***********************]  20 of 20 completed

In [134]:
data_list = []
for ticker in tickers_data.columns.levels[0]:
    # Selecionar o DataFrame para cada ticker
    df = tickers_data[ticker].copy()
    
    # Adicionar o ticker como uma nova coluna
    df['Ticker'] = ticker
    
    # Resetar o índice para incluir as datas como uma coluna
    df = df.reset_index()
    
    # Adicionar o DataFrame ajustado à lista
    data_list.append(df)

# Concatenar todos os DataFrames ajustados
final_data = pd.concat(data_list, ignore_index=True)

In [135]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25300 entries, 0 to 25299
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          25300 non-null  datetime64[ns]
 1   Open          25300 non-null  float64
 2   High          25300 non-null  float64
 3   Low           25300 non-null  float64
 4   Close         25300 non-null  float64
 5   Volume        25300 non-null  int64
 6   Dividends     25300 non-null  float64
 7   Stock Splits  25300 non-null  float64
 8   Ticker        25300 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 1.7+ MB

In [136]:
final_data

Price,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
0,2020-01-02,71.799888,72.856628,71.545402,72.796036,135480400,0.0,0.0,AAPL
1,2020-01-03,72.020439,72.851769,71.862900,72.088303,146322800,0.0,0.0,AAPL
2,2020-01-06,71.206077,72.701500,70.954010,72.662720,118387200,0.0,0.0,AAPL
3,2020-01-07,72.672417,72.929329,72.100426,72.320984,108872000,0.0,0.0,AAPL
4,2020-01-08,72.022843,73.787300,72.022843,73.484337,132079200,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...
25295,2025-01-06,108.239998,109.779999,107.519997,107.739998,15623700,0.0,0.0,XOM
25296,2025-01-07,108.940002,110.059998,108.279999,108.750000,12625900,0.0,0.0,XOM
25297,2025-01-08,107.309998,107.709999,106.010002,106.930000,17858100,0.0,0.0,XOM
25298,2025-01-10,108.699997,110.099998,105.779999,106.540001,19304500,0.0,0.0,XOM
25299,2025-01-13,107.129997,109.629997,107.129997,109.290001,17073400,0.0,0.0,XOM