In [20]:
import pandas as pd
import sqlite3
import os
import yfinance as yf

In [21]:
conn = sqlite3.connect(r"../../../data/database/financial_data.db")

In [22]:
with open("close_window_30_90_180.sql", 'r', encoding='utf-8') as file:
    window_query = file.read().strip() 
with open("pct_change.sql", 'r', encoding='utf-8') as file:
    pct_query = file.read().strip()

In [23]:
df = pd.read_sql("SELECT * FROM assets;", conn)
df_mean_window = pd.read_sql(window_query, conn)
df_pct_change = pd.read_sql(pct_query, conn)

In [24]:
feature_table = df.merge(df_mean_window, on=['date','ticker'], how='left')
feature_table = feature_table.merge(df_pct_change, on=['date','ticker'], how='left')

In [25]:
feature_table

,ticker,date,high,open,low,close,volume,dividends,stock_splits,mean_30,mean_90,mean_180,pct_change
0,AAPL,2020-01-02,72.776598,71.721019,71.466812,72.716072,135480400.0,0.0,0.0,NaN,NaN,NaN,NaN
1,AAPL,2020-01-03,72.771745,71.941328,71.783962,72.009117,146322800.0,0.0,0.0,NaN,NaN,NaN,0.009818
2,AAPL,2020-01-06,72.621654,71.127873,70.876083,72.582916,118387200.0,0.0,0.0,NaN,NaN,NaN,-0.007905
3,AAPL,2020-01-07,72.849216,72.592586,72.021223,72.241539,108872000.0,0.0,0.0,NaN,NaN,NaN,0.004725
4,AAPL,2020-01-08,73.706279,71.943759,71.943759,73.403648,132079200.0,0.0,0.0,NaN,NaN,NaN,-0.015832
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25855,XOM,2025-02-18,110.989998,108.629997,108.320000,110.139999,20060300.0,0.0,0.0,108.289791,112.805148,112.708404,-0.017251
25856,XOM,2025-02-19,112.129997,110.760002,110.059998,110.300003,10964700.0,0.0,0.0,108.416931,112.662887,112.705572,-0.001451
25857,XOM,2025-02-20,112.419998,110.570000,109.949997,112.000000,16325800.0,0.0,0.0,108.581325,112.575279,112.710193,-0.015179
25858,XOM,2025-02-21,111.849998,111.320000,110.559998,110.690002,14710000.0,0.0,0.0,108.707299,112.472737,112.689957,0.011835
25859,XOM,2025-02-24,111.860001,110.930000,110.320000,111.269997,13153500.0,0.0,0.0,108.819689,112.365225,112.688066,-0.005212